

header{
  display: flex;
  box-shadow: 1px 1px 8px black;
  width: 100%;
  font-family: 'Pacifico', cursive;
  color: rgb(0, 5, 9);
}

header> h1{
  padding-left: 44%;
}

.joke{
  padding-top: 10px;
}

li::marker{
  font-weight: bold;
}

h3, p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 12px;
  font-size: 15px;
}

footer{
  position: fixed;
  color: gray;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(250, 255, 225);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

